.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  padding: 10px;
}
.dialogsItems .active {
  color: gold;
  border: 1px solid gold;
}

.messages {
}

.messages .message {
}

a {
  color: #000;
}
